body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial;
  color: darkgrey;
  flex-direction: column;
}

.container {
  margin: 20px;
}

.nav-bar {
  width: 100%;
  position: sticky;
  background-color: white;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 30px;
  width: 46px;
  background-size: 47px;
  background-image: url("../images/sofa-logo.png");
  margin: 20px;
}

.user-container {
  margin: 20px;
}

.property-list {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.property-card {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  width: 30%;
}

.property-card img {
  width: 100%;
  height: auto;
}

.property-card p {
  margin: 5px 0;
  color: #333;
}

#location-time {
  background-color: #ffcccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  color: #333;
}

#get-reviews {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#get-reviews:hover {
  background-color: #ffcccc;
}
#review-image {
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  display: block;
  border-radius: 5px;
}
.divider {
  width: 700px;           
  height: 2px;           
  background-color: #ffcccc; 
  border: none;          
  margin: 10px auto;     
}
